*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/main/java/utils/BillingDetailsConstants.java
/app/src/main/java/utils/InAppPurchaseConstants.java
libs/
src/androidTest/
src/main/res/drawable-hdpi/ic_arrow_back_black_36dp.png
src/main/res/drawable-hdpi/ic_done_white_48dp.png
src/main/res/drawable-hdpi/ic_filrt_money_small.png
src/main/res/drawable-hdpi/ic_lock_white_24dp.png
src/main/res/drawable-hdpi/ic_lock_white_48dp.png
src/main/res/drawable-hdpi/ic_notifications_none_black_24dp.png
src/main/res/drawable-hdpi/ic_send_black_36dp.png
src/main/res/drawable-hdpi/ic_send_blue_36dp.png
src/main/res/drawable-mdpi/ic_arrow_back_black_36dp.png
src/main/res/drawable-mdpi/ic_done_white_48dp.png
src/main/res/drawable-mdpi/ic_filrt_money_small.png
src/main/res/drawable-mdpi/ic_lock_white_24dp.png
src/main/res/drawable-mdpi/ic_lock_white_48dp.png
src/main/res/drawable-mdpi/ic_notifications_none_black_24dp.png
src/main/res/drawable-mdpi/ic_send_black_36dp.png
src/main/res/drawable-mdpi/ic_send_blue_36dp.png
src/main/res/drawable-xhdpi/ic_arrow_back_black_36dp.png
src/main/res/drawable-xhdpi/ic_done_white_48dp.png
src/main/res/drawable-xhdpi/ic_filrt_money_small.png
src/main/res/drawable-xhdpi/ic_lock_white_24dp.png
src/main/res/drawable-xhdpi/ic_lock_white_48dp.png
src/main/res/drawable-xhdpi/ic_notifications_none_black_24dp.png
src/main/res/drawable-xhdpi/ic_send_black_36dp.png
src/main/res/drawable-xhdpi/ic_send_blue_36dp.png
src/main/res/drawable-xxhdpi/ic_arrow_back_black_36dp.png
src/main/res/drawable-xxhdpi/ic_done_white_48dp.png
src/main/res/drawable-xxhdpi/ic_filrt_money_small.png
src/main/res/drawable-xxhdpi/ic_lock_white_24dp.png
src/main/res/drawable-xxhdpi/ic_lock_white_48dp.png
src/main/res/drawable-xxhdpi/ic_notifications_none_black_24dp.png
src/main/res/drawable-xxhdpi/ic_send_black_36dp.png
src/main/res/drawable-xxhdpi/ic_send_blue_36dp.png
src/main/res/drawable-xxxhdpi/ic_arrow_back_black_36dp.png
src/main/res/drawable-xxxhdpi/ic_done_white_48dp.png
src/main/res/drawable-xxxhdpi/ic_filrt_money_small.png
src/main/res/drawable-xxxhdpi/ic_lock_white_24dp.png
src/main/res/drawable-xxxhdpi/ic_lock_white_48dp.png
src/main/res/drawable-xxxhdpi/ic_notifications_none_black_24dp.png
src/main/res/drawable-xxxhdpi/ic_send_black_36dp.png
src/main/res/drawable-xxxhdpi/ic_send_blue_36dp.png
src/main/res/drawable/chat_bubble_friend.9.png
src/main/res/drawable/chat_bubble_self.9.png
src/main/res/drawable/insta_logo.png
src/main/res/drawable/kitty.png
src/main/res/drawable/place_holder.jpg
src/test/
